/*
Units
    Relative
    - %     50%         percentage of something
    - em    1em, 2em    n * font-size (sometimes parent, sometimes itself)
    - rem   1rem        n * root element font-size (<html lang="en">)
    - vh, vw, and more
    Absolute
    - px, pt, cm, in, mm
*/

#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}
#percentages div {
    background-color: #e5989b;
    width: 70%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 30%;
}

#ems h2 {
    font-size: 2em; /* article font-size */
    margin-left: 1em;   /* h2 font-size */
}
#ems h3 {
    font-size: 1.5em;
}
#ems p {
    font-size: 1em;
}
#ems {
    font-size: 15px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: turquoise;
    color: white;
}

#ems ul {
    font-size: 1.5em;
}

#rems h2 {
    font-size: 3rem;
}
#rems h3 {
    font-size: 2rem;
}
#rems ul {
    font-size: 0.8rem;
}
#rems button {
    font-size: 1.5rem;
}

html {
    font-size: 20px;
}